header {
    display: flex;
    align-items: center;
    padding: 20px 16px;
    justify-content: space-between;
    position: relative;

    .logo {
        width: 30px;
    }
    .menu_bg {
        position: absolute;
        width: 100%;
        height: 100dvh;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        transition: 0.3s;
    }
    .menu {
        transition: 0.3s;
        position: absolute;
        left: 0;
        top: 0;
        min-width: 240px;
        height: 100dvh;
        background-color: var(--white);
        padding: 24px 16px 48px 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        &_close {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
        }
        &_user {
            display: flex;
            align-items: center;
            gap: 16px;
            margin: 16px 0;
        }
        &_nav {
            display: flex;
            flex-direction: column;
            gap: 16px;
            flex: 1;
            div {
                padding: 12px 0;
                display: flex;
                align-items: center;
                gap: 10px;
                span {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 18px;
                    text-align: center;
                }
            }
        }
        &_actions {
            display: flex;
            flex-direction: column;
            gap: 16px;
            div {
                padding: 10px 0;
                display: flex;
                align-items: center;
                gap: 8px;
                span {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 18px;
                    text-align: center;
                    color: var(--black);
                }
                &:last-child span {
                    color: var(--alert-red);
                }
            }
        }
    }
}
