* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

:root {
    --white: #fff;
    --green: #8bbd3f;
    --alert-red: #de4841;
    --black: #000;
}
body {
    overflow: hidden;
    width: 1280px;
    background-color: var(--black);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

input:focus {
    outline: none;
}
.container {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.modal-container {
    position: absolute;
    max-width: 100%;
    width: 393px;
    overflow: hidden;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 100;
}

.modal {
    position: absolute;
    bottom: -100%;
    width: 393px;
    right: 0;
    height: 500px;
    border-radius: 10px 10px 0 0;
    background-color: var(--white);
    transition: bottom 0.3s ease-in-out;
    &.opened {
        bottom: 0;
    }
    &_bg {
        position: absolute;
        height: 100dvh;
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        top: 0;
        left: 0;
    }
}

.mobile {
    width: 393px;
    max-width: 100%;
    height: 100%;
    background-color: var(--white);
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

.hidden {
    height: 100dvh;
    overflow: hidden;
}

@media (max-width: 700px) {
    .mobile {
        width: 100%;
        max-width: 100%;
        height: 100%;
        background-color: var(--white);
    }
    .modal-container {
        width: 100%;
    }
}
