.menu {
    &_back {
        padding: 24px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
            font-weight: 500;
            font-size: 28px;
            color: var(--black);
            line-height: 28px;
        }
    }
    &_categories {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: 4px;
        padding-bottom: 40px;
        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 16px;
            background-color: #f8faf5;
            color: var(--black);
            border-radius: 10px;
        }
    }
}
